public/templates/dify_template_saas_workflow.yml
app:
  description: 'DifyAppShareからのテキスト・ファイル入力を処理する基本ワークフロー。Start -> LLM -> End のシンプルな構成。'
  icon: "\U0001F527"
  icon_background: '#E3F2FD'
  mode: workflow
  name: DifyAppShare Workflow Template
  use_icon_as_answer_icon: false
kind: app
version: '0.1.5'
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: '1700000000001-source-1700000000002-target'
      source: '1700000000001'
      sourceHandle: source
      target: '1700000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: '1700000000002-source-1700000000003-target'
      source: '1700000000002'
      sourceHandle: source
      target: '1700000000003'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables:
        - label: 質問・要望
          max_length: 2000
          options: []
          required: true
          type: paragraph
          variable: question
        - allowed_file_extensions:
          - .jpg
          - .jpeg
          - .png
          - .gif
          - .webp
          - .svg
          - .pdf
          - .doc
          - .docx
          - .xls
          - .xlsx
          - .ppt
          - .pptx
          - .csv
          - .txt
          - .md
          - .json
          - .xml
          - .html
          - .mp3
          - .wav
          - .mp4
          - .webm
          - .mov
          allowed_file_types:
          - image
          - document
          - audio
          - video
          - custom
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: 添付ファイル
          max_length: 0
          options: []
          required: false
          type: file
          variable: file
      height: 116
      id: '1700000000001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
          role: system
          text: |-
            あなたは優秀なAIアシスタントです。
            ユーザーの質問や要望に対して、正確で丁寧な回答を生成してください。
            ファイルが添付されている場合、その内容も踏まえて回答してください。

            【このプロンプトを書き換えてください】
        - id: b2c3d4e5-f6a7-8901-bcde-f12345678901
          role: user
          text: '{{#1700000000001.question#}}'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - '1700000000001'
            - file
          enabled: true
      height: 98
      id: '1700000000002'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1700000000002'
          - text
          variable: output
        selected: false
        title: 終了
        type: end
      height: 90
      id: '1700000000003'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 1
