ymltemplate/dify_template_saas_workflow_advanced.yml
app:
  description: 'DifyAppShareからのテキスト・ファイル入力を受け取り、多機能に処理するワークフロー。プロンプトで処理内容を自動判断する。'
  icon: "\U0001F9E9"
  icon_background: '#FFF3E0'
  mode: workflow
  name: DifyAppShare Advanced Workflow Template
  use_icon_as_answer_icon: false
kind: app
version: '0.1.5'
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: '1700000100001-source-1700000100002-target'
      source: '1700000100001'
      sourceHandle: source
      target: '1700000100002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: '1700000100002-source-1700000100003-target'
      source: '1700000100002'
      sourceHandle: source
      target: '1700000100003'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables:
        - label: 質問・要望
          max_length: 2000
          options: []
          required: true
          type: paragraph
          variable: question
        - allowed_file_extensions:
          - .jpg
          - .jpeg
          - .png
          - .gif
          - .webp
          - .svg
          - .pdf
          - .doc
          - .docx
          - .xls
          - .xlsx
          - .ppt
          - .pptx
          - .csv
          - .txt
          - .md
          - .json
          - .xml
          - .html
          - .mp3
          - .wav
          - .mp4
          - .webm
          - .mov
          allowed_file_types:
          - image
          - document
          - audio
          - video
          - custom
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: 添付ファイル
          max_length: 0
          options: []
          required: false
          type: file
          variable: file
      height: 116
      id: '1700000100001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - id: c3d4e5f6-a7b8-9012-cdef-123456789012
          role: system
          text: |-
            あなたは多機能AIアシスタントです。
            ユーザーの質問や要望の内容を読み取り、適切な処理を自動で判断してください。

            対応できる処理:
            - 文書やデータの分析
            - 内容の要約
            - 翻訳
            - 質問への回答
            - ファイル内容の読み取りと説明

            ファイルが添付されている場合、その内容も踏まえて回答してください。

            【このプロンプトを用途に合わせて書き換えてください】
        - id: d4e5f6a7-b8c9-0123-defa-234567890123
          role: user
          text: '{{#1700000100001.question#}}'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - '1700000100001'
            - file
          enabled: true
      height: 98
      id: '1700000100002'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1700000100002'
          - text
          variable: output
        selected: false
        title: 終了
        type: end
      height: 90
      id: '1700000100003'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 1
